{% extends "base.html" %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">

<div class="card-admin">
    <h1>👋 Bienvenido, {{ nombre }}</h1>
    <p>Este es tu <strong>Panel de Administración</strong></p>

    <a href="{{ url_for('gestionar_usuarios') }}" class="btn btn-primary btn-custom mb-3 w-100">
        👥 Gestionar Clientes
    </a>

    <a href="{{ url_for('admin_productos') }}" class="btn btn-primary btn-custom mb-3 w-100">
        🍰 Gestionar Productos
    </a>

    <a href="{{ url_for('admin_pqrs') }}" class="btn btn-primary btn-custom mb-3 w-100">
        📩 Ver PQRS
    </a>

    <a href="{{ url_for('logout') }}" class="btn btn-danger btn-custom w-100">
        🚪 Cerrar Sesión
    </a>
</div>
{% endblock %}
 <body >




