{% extends "base.html" %}
{% block content %}

<!-- ===== IMPORTAR CSS ===== -->
<link rel="stylesheet" href="{{ url_for('static', filename='reset_password.css') }}">

<div class="card-container">
    <div class="card-custom">
        <h2>Restablecer contraseña</h2>
        <form method="POST">
            <input type="password" name="password" class="form-control" placeholder="Nueva contraseña" required>
            <button type="submit" class="btn-lila">Actualizar contraseña</button>
        </form>
    </div>
</div>

{% endblock %}




